.example {
    height: 500px;
    width: 100%;
    position: relative;
}

.example__container {
    height: 100%;
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    justify-content: center;
}

.example__image {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: left;
    height: 100%;
}

.example__elements {
    height: 75%;
    display: grid;
    align-content: space-between;
    justify-items: center;
    padding-top: 60px;
}

.example__circle {
    width: 70px;
    height: 70px;
    background-color: var(--bg-color-black);
    border-radius: 50%;
    position: relative;
}

.example__circle:hover + .example__hover {
    background-color: rgba(0, 0, 0, .2);
}

.example__circle > svg {
    fill: var(--bg-color-white);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 40px;
    width: 40px;
}

.example__hover {
    width: 40px;
    height: 10px;
    background-color: rgba(0, 0, 0, 0);
    border-radius: 50%;
}

.example__accent {
    background-image: url('/assets/podłoga.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: absolute;
    left: 0;
    right: 0;
    top: 60%;
    z-index: -1;
    height: 150px;
}