.info {
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center; 
    position: relative; 
    display: grid;
    align-content: center;
    gap: 15vh;
}

.info::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    background: linear-gradient(to bottom, rgba(255, 255, 255,1) 0%, rgba(255, 255, 255,1) 25%, rgba(255, 255, 255,0.5) 50%, rgba(255, 255, 255,0) 75%, rgba(255, 255, 255,0) 100%);
    height: 50px;
}

.ecology {
    display: flex;
    align-items: flex-end;
    position: relative;
    justify-content: center;
    z-index: 1;
}

.ecology__paragraph {
    width: 60%;
}

.ecology__text {
    display: grid;
    /* gap: 2vh; */
    flex: 1.1;
    justify-items: start;
    justify-content: start;
    margin-right: 2vw;
}

.ecology__certificates {
    display: flex;
    align-items: center;
}

.ecology__certificates--white {
    color: var(--bg-color-white);
    text-shadow: 1px 1px 3px black;
}

.ecology__map {
    height: 50vh;
    position: relative;
    flex: 1;
}

.ecology__map::before {
    content: '';
    position: absolute;
    left: 2%;
    bottom: 3%;
    z-index: 2;
    width: 100%;
    height: 100%;
    background-image: url('../assets/beautiful-aerial-view-nature-trees-forest.png');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}

.ecology__info {
    position: absolute;
    bottom: 0;
    left: 5%;
    z-index: 1;
    min-height: 13vh;
    width: 18vw;
    border: 2px solid #cdcdcd;
    border-radius: 10px;
    text-align: left;
    padding: 1vh 2vw;
    display: grid;
    align-content: center;
}

.ecology__info > p {
    margin: 0;
}

.ecology__info-circle {
    position: absolute;
    bottom: 20%;
    left: 30%;
    z-index: 7;
    opacity: 1;
    border-radius: 50%;
    width: 80px;
    height: 80px;
    background-color: var(--bg-color-white);
    border: 8px solid #ebebeb;
    box-shadow: 0 0 0 4px rgba(250, 250, 250, .9);
    display: flex;
    justify-content: center;
    align-items: center;
}

.ecology__info-circle > svg {
    height: 40px;
    width: 40px;
}

.ecology__icon {
    margin-left: 20px;
}

.numbers {
    width: 100%;
    padding-bottom: 10vh;
}

.numbers__header {
    text-align: center;
    padding-bottom: 5vh;
}

.numbers__container {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom; 
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    justify-content: center;
    align-items: center;
}

.numbers__element {
    display: grid;
    justify-items: center;
    align-items: center;
    gap: 20px;
    padding: 5vh 0;
}

.numbers__image {
    border-radius: 50%;
    background: rgb(34,34,34, 0);
    transition: filter .2s ease-in-out;
    position: relative;
    cursor: pointer;
}

.numbers__image:hover > img {
    filter: brightness(90%);
    transition: filter .3s ease-in-out;
}

.numbers__image--left {
    padding-top: 1px;
    padding-left: 0px;
    padding-bottom: 3px;
    padding-right: 3px;
    background: linear-gradient(190deg, rgba(255,255,255,1) 0%, rgba(34,34,34,1) 50%);
    background-position: 70px -140px;
    background-repeat: no-repeat;
    position: relative;
}
.numbers__image--middle {
    padding-top: 0px;
    padding-left: 3px;
    padding-bottom: 3px;
    padding-right: 0px;
    background: linear-gradient(300deg, rgba(255,255,255,1) 20%, rgba(34,34,34,1) 60%);
    background-position: 140px 50px;
    background-repeat: no-repeat;
    position: relative;
}
.numbers__image--right {
    padding-top: 5px;
    padding-left: 3px;
    padding-bottom: 0px;
    padding-right: 0px;
    background: linear-gradient(190deg, rgba(34,34,34,1) 20%, rgba(255,255,255,1) 100%);
    background-position: -60px 140px;
    background-repeat: no-repeat;
    position: relative;
}

.numbers__image.animated {
    transition: background-position .41s .1s ease-in-out;
}

.numbers__image--left.animated  {
    background-position: 70px 0px;
    transition: background-position .41s 0s ease-in-out;
}

.numbers__image--middle.animated  {
    background-position: 5px 50px;
}

.numbers__image--right.animated  {
    background-position: -60px 0px;
}

.numbers__circle--left,
.numbers__circle--middle,
.numbers__circle--right {
    position: absolute;
    right: 0;
    top: 0;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background-color: transparent;
    padding: 0;    
}

.numbers__circle--left::after,
.numbers__circle--middle::after,
.numbers__circle--right::after {
    position: absolute;
    right: 18%;
    top: 0;
    content: '';
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: var(--bg-color-black);
    display: block;
}

.numbers__circle--left {
    transform: rotate(-25deg);
}

.numbers__circle--left.animated,
.numbers__circle--middle.animated,
.numbers__circle--right.animated {
    transition: transform .45s .1s ease-in-out;
}

.numbers__image--left.animated .numbers__circle--left.animated  {
    transform: rotate(145deg);
    transition: transform .45s 0s ease-in-out;
}

.numbers__circle--middle {
    transform: rotate(65deg);
}

.numbers__image--middle.animated .numbers__circle--middle.animated  {
    transform: rotate(225deg);
}

.numbers__circle--right {
    transform: rotate(145deg);
}

.numbers__image--right.animated  .numbers__circle--right.animated  {
    transform: rotate(335deg);
}

.numbers__text  {
    text-align: center;
}

@media screen and (max-width: 1024px) {

    .ecology {
        flex-direction: column;
        height: 95vh;
    }

    .ecology__map {
        position: relative;
        min-height: 300px;
        width: 100%;
        margin: 0 auto 5vh;
        order: 1;
    }

    .ecology__map::before {
        content: '';
        position: absolute;
        left: 0;
        bottom: 3%;
    }

    .ecology__text {
        order: 2;
        flex: .5;
    }

    .ecology__info {
        position: absolute;
        bottom: -2%;
        left: 0;
        width: 30vw;
    }

    .ecology__paragraph {
        width: 90%;
    }
}

@media screen and (max-width: 768px) {

    .ecology__map::before {
        content: '';
        position: absolute;
        right: 0;
        bottom: 3%;
    }

    .ecology__paragraph {
        width: 100%;
    }

    .ecology__text {
        order: 2;
        flex: .5;
    }

    .ecology__info {
        left: 0;
        height: 13vh;
        width: 40vw;
        z-index: 10;
        background-color: rgba(255, 255, 255, .9);
    }

    .ecology__info-circle {
        left: 35%;
        z-index: 11;
    }
}