.info {
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center; 
    position: relative; 
    display: grid;
    align-content: center;
    gap: 15vh;
}

.info::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    background: linear-gradient(to bottom, rgba(255, 255, 255,1) 0%, rgba(255, 255, 255,1) 25%, rgba(255, 255, 255,0.5) 50%, rgba(255, 255, 255,0) 75%, rgba(255, 255, 255,0) 100%);
    height: 50px;
}

.ecology {
    display: flex;
    align-items: flex-end;
    position: relative;
    z-index: 1;
}

.ecology__paragraph {
    max-width: 60%;
}

.ecology__text {
    display: grid;
    gap: 3vh;
    flex: 1.1;
    justify-items: start;
    justify-content: start;
    margin-right: 2vw;
}

.ecology__map {
    height: 50vh;
    position: relative;
    flex: 1;
}

.ecology__map::before {
    content: '';
    position: absolute;
    left: 2%;
    bottom: 3%;
    z-index: 2;
    width: 100%;
    height: 100%;
    background-image: url('../assets/beautiful-aerial-view-nature-trees-forest.png');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}

.ecology__info {
    position: absolute;
    bottom: 0;
    left: 5%;
    z-index: 1;
    height: 13vh;
    width: 18vw;
    border: 2px solid #cdcdcd;
    border-radius: 10px;
    text-align: left;
    padding: 0 2vw;
    display: grid;
    align-content: center;
}

.ecology__info > p {
    margin: 0;
}

.ecology__info-circle {
    position: absolute;
    bottom: 20%;
    left: 30%;
    z-index: 7;
    opacity: 1;
    border-radius: 50%;
    width: 80px;
    height: 80px;
    background-color: var(--bg-color-white);
    border: 8px solid #ebebeb;
    box-shadow: 0 0 0 4px rgba(250, 250, 250, .9);
    display: flex;
    justify-content: center;
    align-items: center;
}

.ecology__info-circle > svg {
    height: 40px;
    width: 40px;
}

.ecology__certificates {
    display: flex;
    align-items: center;
}

.ecology__certificates--white {
    color: var(--bg-color-white);
    text-shadow: 1px 1px 3px black;
}

.ecology__icon {
    margin-left: 20px;
}

.numbers {
    width: 100%;
    padding-bottom: 10vh;
}

.numbers__header {
    text-align: center;
    padding-bottom: 5vh;
}

.numbers__container {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom; 
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    justify-content: center;
    align-items: center;
}

.numbers__element {
    display: grid;
    justify-items: center;
    align-items: center;
    gap: 20px;
    padding: 5vh 0;
}

.numbers__text  {
    text-align: center;
}

.numbers__text > h4 {
    margin: 0;
}


@media screen and (max-width: 1024px) {

    .ecology {
        flex-direction: column;
        height: 95vh;
    }

    .ecology__map {
        position: relative;
        width: 50%;
    }

    .ecology__map::before {
        content: '';
        position: absolute;
        right: 0;
        bottom: 3%;
    }

    .ecology__info {
        position: absolute;
        bottom: -2%;
        left: -10%;
        width: 30vw;
    }
}