.features {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: center;
    justify-items: center;
}

.features__left,
.features__right {
    width: 100%;
    display: grid;
    justify-items: center;
    gap: 5vh;
}

.features__image {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 15vh;
    width: 100%;
}

.features__name {
    display: flex;
    color: var(--bg-color-white);
    align-items: center;
    justify-content: center;
    justify-items: center;
}

.features__name > p {
    margin-left: 30px;
}

@media screen and (max-width: 768px) {

    .features {
        grid-template-columns: 1fr;
    }

    .features__left {
        padding-bottom: 5vh;
    }
}