.header {
    height: 60vh;
    height: calc(var(--vh, 1vh) * 60);
}

.header__container {
    width: 90%;
    height: 75%;
    justify-self: flex-start;
    justify-content: center;
    display: flex;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.header__text {
    display: grid;
    justify-items: flex-start;
    justify-content: flex-start;
    align-content: center;
    padding: 0;
    font-size: 0;
}

.header__text > * {
    margin: 0;
}

@media screen and (max-width: 768px) {

    .header__container {
        width: 90vw;
    }

    .header__text {
        justify-content: center;
    }
}