.about {
    width: 100%;
}

.about__container {
    width: 100%;
    display: flex;
}

.about__container > * {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.about__text {
    flex: 1;
    margin-left: 2vw;
    padding: 0 75px;
    background-color: var(--bg-color-white);
    display: grid;
    align-content: center;
    justify-items: flex-start;    
}

.about__image--right {
    flex: 1.7;
    margin-left: auto;
}
.about__image--left {
    flex: .25;
}

.about__button {
    margin-top: 1vh;
}

@media screen and (max-width: 1024px) {
    
    .about__image--right {
        flex: .5;
    }

    .about__image--left {
        display: none;
    }

}

@media screen and (max-width: 768px) {
    
    .about__container {
        padding: 0;
        width: 90vw;
        margin: 0 auto;
    }
    
    .about__text {
        padding: 0;
        gap: 3vh;
        width: 100%;
        margin: 0 auto;
    }

    .about__image--right {
        display: none;
    }

}