.collection {
    width: 100%;
    height: 35vh;
    display: flex;
}

.collection__left,
.collection__right {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    flex: 1.7;
}

.collection__right {
    flex: 1;
}

.collection__text::after {
    content: '';
    background-image: url('../../assets/5-layers.png');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    position: absolute;
    right: 80%;
    width: 50%;
    height: 100%;
    top: 50%;
    transform: translateY(-50%);
    z-index: 2;
    filter: drop-shadow(10px 10px 150px black);
    transform: translate(-25%, -50%) rotate(90deg);
    opacity: 0;
}

.collection__text.animated::after {
    transform: translate(-1%, -50%) rotate(1deg);
    opacity: 1;
    transition: transform 2s ease-in-out, opacity 2s ease-in-out;
}

.collection__text {
    flex: 1;
    display: grid;
    justify-content: end;
    justify-items: start;
    align-content: center;
    padding: 0 70px 0 100px;
    position: relative;
    height: 80%;
    margin: auto 0;
    white-space: nowrap;
}

.collection__text > * {
    margin-left: 10px;
}

@media screen and (max-width: 768px) {

    .collection {
        flex-direction: column;
        height: 40vh;
    }

    .collection__left {
        display: none;
    }

    .collection__right {
        display: none;
    }

    .collection__text {
        padding: 0;
        justify-content: center;
        justify-items: center;
        white-space: normal;
        padding-right: 5vw;
    }

    .collection__text::after {
        z-index: -1;
        opacity: .2;
        right: 50%;
        top: 52%;
    }

    .collection__text.animated::after {
        opacity: .2;
    }
}