.example {
    height: 50vh;
    width: 100%;
    position: relative;
}

.example__container {
    height: 100%;
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    justify-content: center;
    position: relative;
}

.example__image {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: left;
    height: 100%;
}

.example__elements {
    height: 90%;
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    align-content: space-between;
    align-items: center;
    justify-items: center;
    justify-content: center;
}

.example__elements > p {
    padding: 0 1vw;
    text-align: center;
}

.example__circle {
    width: 70px;
    height: 70px;
    background-color: var(--bg-color-black);
    border-radius: 50%;
    position: relative;
    cursor: pointer;
}

.example__circle:hover + .example__hover {
    background-color: rgba(0, 0, 0, .2);
    transition: background-color .3s ease-in-out;
}

.example__circle > svg {
    fill: var(--bg-color-white);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 40px;
    width: 40px;
}

.example__hover {
    width: 40px;
    height: 10px;
    background-color: rgba(0, 0, 0, 0);
    border-radius: 50%;
    transition: background-color .2s ease-in-out;
}

.example__accent {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: absolute;
    left: 0;
    right: 0;
    top: 60%;
    z-index: -1;
    height: 150px;
}

@media screen and (max-width: 1024px) {
    
    .example__container {
        grid-template-columns: repeat(4, 1fr);
        position: relative;
    }

    .example__image {
        opacity: .2;
        position: absolute;
        height: 100%;
        width: 25%;
        top: 0;
        z-index: -1;
    }

    .example__image:nth-of-type(1) {
        left: 0;
    }
    .example__image:nth-of-type(3) {
        left: 25%;
    }
    .example__image:nth-of-type(5) {
        left: 50%;
    }
    .example__image:nth-of-type(7) {
        left: 75%;
    }

}

@media screen and (max-width: 500px) {
    
    .example__circle {
        width: 45px;
        height: 45px;
    }

    .example__circle > svg {
        height: 25px;
        width: 25px;
    }

    .example__elements > p {
        font-size: 12px;
    }

}