.footer {
    width: 100%;
    background-color: var(--bg-color-black);
    display: flex;
    align-items: center;
}

.footer__container {
    padding: 10vh 0;
    display: grid;
    gap: 0 20px;
    justify-content: space-between;
    grid-template-areas: 
        'logo address contact social'
        'copyright address contact social'
        'copyright address contact social'
        'copyright socialnet socialnet socialnet'
        'copyright socialnet socialnet socialnet';
}

.footer__address,
.footer__contact {
    display: grid;
    justify-content: center;
    align-content: space-between;
    gap: 3vh;
}

.footer__left {
    grid-area: logo;
}

.footer__copyright {
    grid-area: copyright;
    justify-self: start;
    grid-row: 3 / 5;
    padding-bottom: 3vh;
}

.footer__copyright > p {
    writing-mode: vertical-rl;
    transform: rotate(180deg);
    white-space: nowrap;
}

.footer__copyright p,
.footer__address div p,
.footer__contact div p {
    color: var(--bg-color-white);
    margin: 0;
}

.footer__address {
    grid-area: address;
}

.footer__contact {
    grid-area: contact;
}

.footer__button.btn {
    background-image: linear-gradient(#d7a950 0%, #f3eb89 100%);
    justify-self: flex-start;
    color: var(--bg-color-black);
    transition: background-image .1s ease-in-out, background-position .1s ease-in-out;
    background-size: 1px 200px;
}

.footer__button.btn:hover {
    background-position:200px;
    box-shadow: none;
    transition: background-image .2s ease-in-out, background-position .1s ease-in-out;
}

.footer__social {
    grid-area: social;
}

.footer__social > a > svg {
    fill: var(--bg-color-white);
    transition: opacity .1s ease-in-out;
}

.footer__social > a > svg:hover {
    opacity: .6;
    transition: opacity .2s ease-in-out;
}

.footer__socialnet {
    grid-area: socialnet;
    height: 40px;
    display: flex;
    white-space: nowrap;
    align-self: end;
    justify-self: end;
    padding: 0;
}

.footer__socialnet > p {
    font-size: 12px;
    color: var(--bg-color-white);
    margin: 0;
    padding: 5px 10px 0 0;
}

@media screen and (max-width: 1024px) {

    .footer__container {
        justify-content: space-between;
        justify-items: center;
        grid-template-areas: 
        'copyright logo logo empty'
        'copyright logo logo empty'
        'copyright address contact empty'
        'copyright address contact empty'
        'copyright socialnet socialnet socialnet'
        'copyright socialnet socialnet socialnet';
    }

    .footer__copyright {
        grid-row: 4 / 5;
        padding-bottom: 3vh;
    }

    .footer__left {
        padding-bottom: 3vh;
        justify-self: center;
    }

    .footer__social {
        display: none;
    }

    .footer__copyright.footer__copyright--blank {
        grid-area: empty;
    }

    .footer__copyright.footer__copyright--blank > p {
        color: transparent;
        user-select: none;
    }

    .footer__socialnet {
        margin-top: 30px;
    }
}
@media screen and (max-width: 768px) {

    .footer__container > * {
        padding: 2vh 0;
    }

    .footer__contact {
        justify-content: start;
    }

    .footer__social {
        justify-content: end;
    }

    .footer__socialnet {
        bottom: 2%;
        right: 0;
    }

    .footer__socialnet > p {
        font-size: 10px;
    }
}

@media screen and (max-width: 500px) {

    .footer__container {
        grid-template-areas: 
        'copyright logo empty'
        'copyright contact empty'
        'copyright address empty'
        'copyright socialnet socialnet'
        'copyright socialnet socialnet';
        text-align: center;
    }

    .footer__button.btn {
        justify-self: center;
    }
}