@keyframes arrow-right {
    0% {
        transform: rotate(var(--rotate, 0deg)) translateX(0);
    }
    50% {
        transform: rotate(var(--rotate, 0deg)) translateX(50%);
    }
    100% {
        transform: rotate(var(--rotate, 0deg)) translateX(0);
    }
}

.header {
    display: flex;
    flex-direction: column;
    height: 100vh;
    /* height: calc(var(--vh, 1vh) * 100); */
    width: 100%;
    align-items: center;
    justify-items: center;
    justify-content: space-evenly;
    position: relative;
}

#nav {
    height: 25%;
}

.nav {
    bottom: 100%;
    transform: translateY(0%);
}

.nav.fixed {
    position: fixed;
    left: 0;
    right: 0;
    z-index: 50;
    padding: 3vh 0;
    transform: translateY(99%);
    background-color: var(--bg-color-black);
    transition: transform .5s ease-in-out;
}

.nav__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-content: center;
}

.nav__hamburger {
    position: relative;
    z-index: 3;
    cursor: pointer;
    background-color: transparent;
    border: 0;
    margin-right: 10px;
    transition: transform .3s .1s ease-in-out, visibility 0s .4s;
}

.nav__hamburger-box {
    width: 27px;
    height: 21px;
    display: inline-block;
    position: relative;
}

.nav__hamburger-line {
    width: 100%;
    height: 4px;
    background-color: white;
    position: absolute;
    left: 0;
    top: 50%;
    transition: background-color .2s .2s ease-in-out;
}

.nav__hamburger-line::after,
.nav__hamburger-line::before {
    width: 100%;
    height: inherit;
    background-color: white;
    position: absolute;
    content: '';
    left: 0;
    transition: transform .2s .2s ease-in-out;
}

.nav__hamburger-line::before {
    top: -10px;
}
  
.nav__hamburger-line::after {
    top: 10px;
}

.nav__links {
    display: flex;
    position: absolute;
    width: 100vw;
    height: 101vh;
    background-color: var(--bg-color-black);
    top: 0;
    right: 0;
    z-index: 2;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    visibility: hidden;
    opacity: 0;
    transition: visibility .4s, opacity .4s;
}

.nav__links > li {
    margin: 24px 0;
}

.nav__links > li > a:hover {
    opacity: .6;
    transition: opacity .2s ease-in-out;
}

.nav__links--active {
    visibility: visible;
    opacity: 1;
    transition: visibility .4s, opacity .5s;
}

[aria-expanded=true] > .nav__hamburger-box > .nav__hamburger-line {
    background-color: transparent;
}

[aria-expanded=true] > .nav__hamburger-box .nav__hamburger-line::before {
    transform: translateY(10px) rotate(45deg);
}

[aria-expanded=true] > .nav__hamburger-box .nav__hamburger-line::after {
    transform: translateY(-10px) rotate(-45deg);
}

.nav__image {
    width: 200px;
}

.nav__link:first-of-type {
    margin-right: 10px;
}

.nav__link {
    fill: var(--bg-color-white);
}

.nav__icon {
    fill: var(--bg-color-white);
    opacity: 1;
    transition: opacity .1s ease-in-out;
}

.nav__icon:hover {
    opacity: .6;
    transition: opacity .2s ease-in-out;
}

#myCarousel {
    width: 90%;
    height: 60%;
}

.header__container {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 100%;
    justify-self: flex-start;
    justify-content: space-around;
    position: relative;
    display: flex;
    transition: background-image .5s ease-in-out;
}

.header__text {
    color: white;
    display: grid;
    justify-items: flex-start;
    align-content: flex-end;
    height: 100%;
    padding: 0 2vw 4vh;
    transform: translateX(-2.5vw);
    opacity: 0;
    will-change: transform;
}

.header__text.animated {
    transform: translateX(0);
    opacity: 1;
    transition: transform 2s .2s ease-in-out, opacity 2s .2s ease-in-out;
}

.header__title {
    background-color: var(--bg-color-black);
    padding: 15px;
}

.header__paragraph {
    background-color: var(--bg-color-white);
    color: var(--bg-color-black);
    padding: 10px;
}

.header__images {
    display: grid;
    gap: 2vh;
    margin-top: -25px;
    transform: translateY(-5vh);
    opacity: 0;
    will-change: transform;
}

.header__images.animated {
    transform: translateY(0);
    opacity: 1;
    transition: transform 2s .2s ease-in-out, opacity 2s .2s ease-in-out;
}

.header__image {
    width: 24vh;
    height: 100%;
    object-fit: cover;
}

.header__button {
    border: none;
    outline: none;
    cursor: pointer;
}

.header__arrow {
    white-space: nowrap;
    display: flex;
    height: 15%;
    align-items: start;
    width: 80%;
    justify-content: center;
    padding-right: 10%;
}

.header__arrow-text {
    position: relative;
}

.header__arrow-text::after {
    content: url('../../assets/right-arrow.svg');
    display: inline-block;
    position: absolute;
    left: 107%;
    top: -20%;
    width: 35px;
    animation: arrow-right 2s ease-in-out infinite;
}

.header__accent {
    background-color: var(--bg-color-black);
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 25vh;
    z-index: -1;
}

@media screen and (max-width: 1024px) {
    .header__arrow {
        justify-content: flex-start;
    }
}

@media screen and (max-width: 768px) {

    .nav__logo > a > img {
        width: 150px;
    }

    /* #nav {
        height: 30%;
    } */

    .nav__hamburger-line {
        height: 2px;
    }

    #myCarousel {
        width: 95%;
        height: 70%;
    }

    /* .header__container {
        width: 100%;
        height: 100%;
        flex-direction: column;
        justify-self: end;
        justify-content: space-around;
    } */

    /* .header__text {
        align-content: center;
        padding-bottom: 0;
    } */

    .header__arrow {
       height: 5%;
       width: 94%;
       padding: 0;
    }

    .header__images {
        height: 100%;
        margin-top: 8vh;
    }

    .header__image {
        width: 20vh;
    }

    .header__accent {
        height: 40vh;
    }
}

@media screen and (max-width: 500px) {

    .header__images {
        height: 100%;
        margin-top: -.5%;
        align-content: space-between;
    }

    .header__image {
        height: 100%;
    }

    .header__arrow-text::after {
        content: url('../assets/right-arrow.svg');
        display: inline-block;
        position: absolute;
        left: 107%;
        top: -20%;
        width: 35px;
        --rotate: -90deg;
        animation: arrow-right 2s ease-in-out infinite;
    }
}