@import url("header.css");
@import url("video.css");
@import url("collection.css");
@import url("floor.css");
@import url("about.css");
@import url("info.css");
@import url("trade.css");
@import url("rubra.css");
@import url("example.css");
@import url("loaction.css");
@import url("footer.css");

:root {
    --bg-color-black: #222;
    --bg-color-white: #fff;
}

*, *::after, *::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100%;
    font-family: 'Maven Pro', sans-serif;
    height: 100%;
}

h1, .h1 {
    /* font-size: 3.052rem; */
    font-size: clamp(3.052rem, -6.104rem + 7.3248vw, 7.63rem);
}
h2 {
    /* font-size: 2.441rem; */
    font-size: clamp(2.441rem, -4.882rem + 5.8584vw, 6.1025rem);
    line-height: 1.2;
}
h3, .h3 {
    /* font-size: 1.953rem; */
    font-size: clamp(1.953rem, -1.953rem + 3.1248vw, 3.1248rem);
    line-height: 1.4;
    margin-bottom: 3vh;
}

.h3 {
    font-weight: 700;
    margin: 0;
}

h4 {
    font-size: 1.563rem;
    line-height: 1.5;
}

h5 {
    font-size: 1.25rem;
    line-height: 1.5;
}

a {
    text-decoration: none;
    color: white;
    font-size: 1.953rem;
}

p, .p {
    margin-bottom: 10px;
    font-size: clamp(1rem, 0rem + 0.8vw, 1.5rem);
    line-height: 1.5;
    font-weight: 500;
}

li {
    list-style: none;
}

.f-w300 {
    font-weight: 300;
}

.f-w700 {
    font-weight: 700;
}

svg {
    width: 27px;
    height: 27px;
}

.container {
    width: 75vw;
    margin: 0 auto;
}

.m-0-5 {
    margin: 5vh 0;
}

.m-1 {
    margin: 10vh 0;
}

.m-2 {
    margin: 15vh 0;
}

.m-y1-5 {
    margin-top: 15vh;
}

.m-y1 {
    margin-top: 10vh;
}

.m-y2 {
    margin-top: 5vh;
}

.btn {
    padding: 16px 40px;
    background-color: var(--bg-color-black);
    border: none;
    display: inline-block;
    border-radius: 25px;
    color: var(--bg-color-white);
    white-space: nowrap;
    cursor: pointer;
    font-family: 'Maven Pro', sans-serif;
    text-transform: uppercase;
    font-weight: 600;
    box-shadow: 0;
    outline: none;
    transition: background-color .2s ease-in-out, color .2s ease-in-out, box-shadow .1s .05s ease-in-out;
    /* font-size: clamp(1rem, -0.5rem + 0.8vw, 1.5rem); */
}

*:focus {
    outline: none;
}

.btn:hover {
    background-color: var(--bg-color-white);
    box-shadow:
    0 2.8px 2.2px rgba(0, 0, 0, 0.034),
    0 6.7px 5.3px rgba(0, 0, 0, 0.048),
    0 12.5px 10px rgba(0, 0, 0, 0.06),
    0 22.3px 17.9px rgba(0, 0, 0, 0.072),
    0 41.8px 33.4px rgba(0, 0, 0, 0.086),
    0 100px 80px rgba(0, 0, 0, 0.12);
    color: var(--bg-color-black);
    transition: background-color .3s ease-in-out, color .3s ease-in-out, box-shadow .2s .1s ease-in-out;
}

.sr-only {
    clip: rect(1px, 1px, 1px, 1px);
    clip-path: inset(50%);
    height: 1px;
    width: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
}

@media screen and (max-width: 768px) {
    html {
        font-size: 14px;
    }

    .container {
        width: 90vw;
    }

    svg {
        width: 20px;
        height: 20px;
    }

    .btn {
        padding: 10px 28px;
    }
}