.trade {
    width: 100%;
    position: relative;
}

.trade.m-1 {
    margin-bottom: 22vh;
}

.trade__container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 3vw;
}

.trade__image {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 100%;
    justify-self: start;
}

.trade__text {
    width: 100%;
    display: grid;
    align-content: space-between;
    gap: 5vh;
}

.trade__logo {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: absolute;
    bottom: -12vh;
    left: 2.5vw;
    z-index: -1;
    height: 300px;
    width: 300px;
}

.trade__contact--contact {
    margin-bottom: 50px;
    font-weight: 700;
}

.trade__contact--name {
    margin-bottom: 25px; 
    font-weight: 700;
    font-size: 1.2rem;
}

.trade__contact--number,
.trade__contact--mail {
    position: relative;
    margin-left: 40px;
    font-size: 1.2rem;
}

.trade__contact--number::before,
.trade__contact--mail::before {
    content: url('../../assets/phone-ringing.svg') / 'telefon';
    position: absolute;
    left: -40px;
    top: 0;
    width: 24px;
    height: 24px;
}

.trade__contact--mail::before {
    content: url('../../assets/mail.svg') / 'mail';
}

@media screen and (max-width: 1024px) {

    .trade.m-1 {
        margin-bottom: 10vh;
    }

    .trade__container {
        grid-template-columns: 1fr;
    }

    .trade__logo {
        display: none;
    }
}

@media screen and (max-width: 1024px) {

    .trade__contact--number,
    .trade__contact--mail {
        font-size: 1rem;
    }
}