.header__title {
    position: relative;
}

.header__title::after {
    content: 'promocji' / 'promocji';
    position: absolute;
    top: 100%;
    left: 0;
    font-size: clamp(1.953rem, -1.953rem + 3.1248vw, 3.1248rem);
    background-color: var(--bg-color-white);
    color: var(--bg-color-black);
    padding: 10px;
}